
.hero-image{
    background-image: url('../assets/greekGods.jpg');
    background-size: 85%;
}
.bgLGrey{
    background-color: lightslategray;
}
.white{
    color:white;
}
.titleBtn{
    margin-top: 50vh;
}
.center{
    display: flex;
    justify-content: center;

}
.column{
    display: flex;
    flex-direction: column;
}
.space{
    display: flex;
    justify-content: space-evenly;
}
.full-height{
    height: 90vh;
}
.bgBlue{
    background-color: #6557C6;
}
.hero-image2{
    background-image: url('../assets/greekGodWorld.jpg');
    background-size: cover;
}
.spacey{
    display: flex;
    align-content: flex-end;
}
.red{
    color: maroon;
}

.secretBtn {
    visibility: hidden; 
}